# path:       /home/klassiker/.local/share/repos/scroll/.gitignore
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/scroll
# date:       2020-11-13T14:39:02+0100

/config.h
/scroll
